---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>

      {% if page.skip_post_footer != true %}
        {% include post-footer.html refpage=page.title %}
      {% endif %}

      {% if page.skip_related != true %}
        <div id="related">
          <h3>{{ site.data.theme.t.related_posts }}</h3>
          <ul class="posts">
            {% for post in site.related_posts limit:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </article>
  </div>
</main>
